
.header {
    width: 100vw;
    height: 10vh;
  }
img{
    width: 5vw;
    
}
.ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.5rem;
}